body {
  text-align: center;
  padding: 0;
  font-family: Lato;
}

h6,
img {
  margin: 2px auto;
}

.student {
  border: 1px solid #aaa;
  margin: 0.5rem auto;
  max-width: 60%;
}

.student img {
  height: auto;
  max-width: 200px;
}
